@using FluentWork_Admin.Common

@{
    int accountId = AccountInfo.AccountId;
}

<style>
    #dataTable_length label {
        margin-top: 10px;
    }

    #dataTable_filter label {
        margin-top: 10px;
        margin-right: 5px;
    }

    #dataTable_wrapper div:last-child {
        margin-bottom: 5px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/controller/user.js" asp-append-version="true"></script>
}

<input type="hidden" id="accountId" value="@accountId" />

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage users</h1>
    <button class="d-none d-sm-inline-block btn btn-primary shadow-sm" id="btnCreate" onclick="ShowAddModal()">
        <i class="fas fa-plus text-white-50"></i> Create new
    </button>
</div>

<!-- Dropdown list -->
<div class="row">
    <!-- Role dropdown -->
    <div class="col-4 form-group">
        <label for="selectRole">Role</label>
        <select class="form-control" id="selectRole" asp-items="ViewBag.UserRoles">
            <option value="">All</option>
        </select>
    </div>
</div>

<!-- Users table -->
<div class="table-responsive">
    <table id="dataTable" class="table table-sm table-bordered table-striped w-100 align-middle text-center">
        <thead>
            <tr>
                <th class="no-sort">Action</th>
                <th>Username</th>
                <th>Email</th>
                <th>Fullname</th>
                <th>Role</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th class="no-sort">Action</th>
                <th>Username</th>
                <th>Email</th>
                <th>Fullname</th>
                <th>Role</th>
                <th>Created at</th>
                <th>Updated at</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="userModalContent">
        </div>
    </div>
</div>
