@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="~/controller/question.js"></script>
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage questions</h1>
    <button class="d-none d-sm-inline-block btn btn-primary shadow-sm" id="btnCreate" onclick="ShowAddModal()">
        <i class="fas fa-plus text-white-50"></i> Create new
    </button>
</div>

<!-- Dropdown list -->
<div class="row">

    <!-- Type dropdown -->
    <div class="col form-group">
        <label for="questionType">Type</label>
        <select class="form-control" id="questionType" name="questionType" asp-items="ViewBag.QuestionTypes">
            <option class="dropdown-item" value="">All</option>
        </select>
    </div>

    <!-- Topic dropdown -->
    <div class="col form-group">
        <label for="questionTopic">Topic</label>
        <select class="form-control" id="questionTopic" name="questionTopic">
            <option class="dropdown-item" value="">All</option>
        </select>
    </div>

    <!-- Level dropdown -->
    <div class="col form-group">
        <label for="questionLevel">Level</label>
        <select class="form-control" id="questionLevel" name="questionLevel">
            <option class="dropdown-item" value="">All</option>
            <option class="dropdown-item" value="Beginner">Beginner</option>
            <option class="dropdown-item" value="Intermediate">Intermediate</option>
            <option class="dropdown-item" value="Advanced">Advanced</option>
        </select>
    </div>

</div>

<!-- Questions table -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Questions table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Actions</th>
                        <th class="text-center">Question</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Topic</th>
                        <th class="text-center">Level</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th class="text-center">Actions</th>
                        <th class="text-center">Question</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Topic</th>
                        <th class="text-center">Level</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="questionModalContent">

        </div>
    </div>
</div>
